{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# From https://www.chezmoi.io/docs/how-to/#use-chezmoi-on-macos and https://github.com/twpayne/dotfiles/blob/7873d5735522915076c17d41ad52c8ac813d321b/run_once_before_10-install-packages-darwin.sh.tmpl

set -eufo pipefail

brew bundle --no-lock --file=/dev/stdin <<EOF

brew "git"
brew "bitwarden-cli"
brew "blueutil"
brew "pandoc"
brew "ripgrep"
brew "aspell"
brew "coreutils"
brew "chezmoi"

# Yabai
brew "koekeishiya/formulae/yabai"
# To start: brew services start yabai
brew "koekeishiya/formulae/skhd"
# To start: brew services start skhd

# For Zotero OCR
brew "tesseract"
brew "poppler"

cask "brave-browser"
cask "bitwarden"
cask "zotero"
cask "r"
cask "karabiner-elements"
cask "rstudio"
cask "the-unarchiver"
cask "quarto"
# For smooth scrolling
cask "mos"
cask "google-drive"
cask "spotify"

# Keyboard
cask "via"

# Emacs installation (from https://github.com/syl20bnr/spacemacs#macos)
# You should change the ownership of these directories to your user.
# sudo chown -R $(whoami) /usr/local/share/info
# And make sure that your user has write permission.
# chmod u+w /usr/local/share/info
tap "d12frosted/emacs-plus"
brew "emacs-plus@28", args: ["with-spacemacs-icon", "with-no-titlebar"], link: true

# Install Source Code Pro font for Emacs
tap "homebrew/cask-fonts"
brew "svn"
cask "font-source-code-pro"
EOF

# Zotero

echo "Install and import Zotfile, Better BibTeX, and Zotero OCR manually from http://zotfile.com/, https://retorque.re/zotero-better-bibtex/, and https://github.com/UB-Mannheim/zotero-ocr"
echo "Config Editor modifications: extensions.zotero.recursiveCollections;true, extensions.zotero.translators.better-bibtex.autoPinDelay;2"

# TinyTex
# /usr/local/bin needs to be writable (https://github.com/yihui/tinytex/issues/24)
# If TinyTex install via {tinytex} doesn't work, try the below. Doesn't seem to work through the script.
# create the dir if it doesn't exist
#[ -e /usr/local/bin ] || sudo mkdir -p /usr/local/bin
# change owner of the dir
#sudo chown -R `whoami`:admin /usr/local/bin

#~/Library/TinyTeX/bin/*/tlmgr path add

# Spacemacs
if [ ! -d ".emacs.d" ]; then
git clone https://github.com/syl20bnr/spacemacs ~/.emacs.d
fi
# Download logo manually: https://github.com/nashamri/spacemacs-logo/raw/master/spacemacs.icns
# Add to icon manually: https://www.idownloadblog.com/2014/07/16/how-to-change-app-icon-mac/
# Need to first remove directory if already loaded vanilla emacs first, e.g.,:
# rm -r ~/.emacs.d

# Logi Options+
# Install manually: https://download01.logi.com/web/ftp/pub/techsupport/optionsplus/logioptionsplus_installer.zip

{{ end -}}


{{- if (eq .chezmoi.arch "arm64") -}}
#!/bin/bash

# From https://www.chezmoi.io/docs/how-to/#use-chezmoi-on-macos and https://github.com/twpayne/dotfiles/blob/7873d5735522915076c17d41ad52c8ac813d321b/run_once_before_10-install-packages-darwin.sh.tmpl

set -eufo pipefail

brew bundle --no-lock --file=/dev/stdin <<EOF

# cask "firefox"
# cask "microsoft-office"
# cask "dropbox"
# cask "whatsapp"
# cask "microsoft-teams"
# cask "spotify"
# cask "visual-studio-code"
# cask "zoom"
# cask "adobe-creative-cloud"
# cask "vlc"
# cask "qbittorrent"
# cask "cryptomator"

EOF

# Link Emacs to Applications directory if it doesn't already exist there
if [ ! -e "/Applications/Emacs.app" ]; then
ln -s /opt/homebrew/opt/emacs-plus@28/Emacs.app /Applications
fi

# R console to use in VSCode
# pip3 install -U radian

# Synology

echo "Install Synology Drive and Assistant manually from https://www.synology.com/en-us/support/download/DS220j?version=7.0#utilities"

{{- else if (eq .chezmoi.arch "amd64") -}}
#!/bin/bash

set -eufo pipefail

brew bundle --no-lock --file=/dev/stdin <<EOF

cask "google-drive"

EOF

# Link Emacs to Applications directory if it doesn't already exist there
if [ ! -e "/Applications/Emacs.app" ]; then
ln -s /usr/local/Cellar/emacs-plus@28/28.2/Emacs.app /Applications
fi

{{ end -}}



