{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# From https://www.chezmoi.io/docs/how-to/#use-chezmoi-on-macos and https://github.com/twpayne/dotfiles/blob/7873d5735522915076c17d41ad52c8ac813d321b/run_once_before_10-install-packages-darwin.sh.tmpl

set -eufo pipefail

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "git"
brew "bitwarden-cli"
brew "blueutil"
brew "pandoc"
brew "ripgrep"
brew "aspell"
brew "coreutils"
brew "koekeishiya/formulae/yabai", args: ["HEAD"]
brew "koekeishiya/formulae/skhd"

cask "brave-browser"
cask "microsoft-office"
cask "dropbox"
cask "whatsapp"
cask "microsoft-teams"
cask "spotify"
cask "bitwarden"
cask "visual-studio-code"
cask "zoom"
cask "zotero"
cask "r"
cask "adobe-creative-cloud"
cask "vlc"
cask "qbittorrent"
cask "karabiner-elements"
cask "rstudio"
cask "the-unarchiver"

# Emacs installation (from https://github.com/syl20bnr/spacemacs#macos)
# Can't get emacs-plus to work as Emacs.app
cask "emacs"
tap "homebrew/cask-fonts"
brew "svn"
cask "font-source-code-pro"
EOF

# R console to use in VSCode
pip3 install -U radian

# Synology

echo "Install Synology Drive and Assistant manually from https://www.synology.com/en-us/support/download/DS220j?version=7.0#utilities"

# Zotero

echo "Install and import Zotfile and Better BibTeX manually from http://zotfile.com/ and https://retorque.re/zotero-better-bibtex/"
echo "Config Editor modifications: extensions.zotero.recursiveCollections;true, extensions.zotero.translators.better-bibtex.autoPinDelay;2"

# TinyTex
# /usr/local/bin needs to be writable (https://github.com/yihui/tinytex/issues/24)
# If TinyTex install via {tinytex} doesn't work, try the below. Doesn't seem to work through the script.
# create the dir if it doesn't exist
#[ -e /usr/local/bin ] || sudo mkdir -p /usr/local/bin
# change owner of the dir
#sudo chown -R `whoami`:admin /usr/local/bin

#~/Library/TinyTeX/bin/*/tlmgr path add

# Spacemacs
if [ ! -d ".emacs.d" ]; then
git clone https://github.com/syl20bnr/spacemacs ~/.emacs.d
fi
# Download logo manually: https://github.com/nashamri/spacemacs-logo/raw/master/spacemacs.icns
# Add to icon manually: https://www.idownloadblog.com/2014/07/16/how-to-change-app-icon-mac/

# Yabai
codesign -fs 'yabai-cert' $(which yabai)

# Logi Options+
# Install manually: https://download01.logi.com/web/ftp/pub/techsupport/optionsplus/logioptionsplus_installer.zip

{{ end -}}

